<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<paymill>
				<actionForNew>authorize_capture</actionForNew>
				<actionForReturned>authorize_capture</actionForReturned>
				<description_rules>
					<locations>
						<merchant>
							<shown>1</shown>
						</merchant>
					</locations>
					<maxLength>
						<title>The Paymill API reference: «Transactions» → «Transaction object» → «ATTRIBUTES». See the «description» parameter.</title>
						<url>https://developers.paymill.com/API/index#-transaction-object</url>
						<value>128</value>
					</maxLength>
				</description_rules>
				<requireBillingAddress>1</requireBillingAddress>
<!-- 2017-02-05 Which payment currencies does Paymill support? https://mage2.pro/t/2637 -->
				<currency>EUR</currency>
<!-- 2017-02-05 По умолчанию пусть будет Visa. -->
				<prefillWith3DS>4012888888881881</prefillWith3DS>
				<prefillWithout3DS>4111111111111111</prefillWithout3DS>
				<title>Bank Card</title>
				<title_backend>Paymill</title_backend>
			</paymill>
		</df_payment>
        <payment>
            <dfe_paymill>

<!-- 2017-07-24
@used-by \Magento\Payment\Helper\Data::getMethodModelConfigName():
	protected function getMethodModelConfigName($code) {
		return sprintf('%s/%s/model', self::XML_PATH_PAYMENT_METHODS, $code);
	}
https://github.com/magento/magento2/blob/2.2.0-RC1.5/app/code/Magento/Payment/Helper/Data.php#L85-L92
-->
				<model>Dfe\Paymill\Method</model>
            </dfe_paymill>
        </payment>
    </default>
</config>
